* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

#hero {
    padding: 0 80px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.video {
    margin: 30px;
}

.video-preview {
    position:absolute;
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    align-items: center;
    color: white;
}

.video-preview nav {
    font-size: 30px;
    margin-top: 10px;
    transition: 0.3s;
}

.video-preview nav i {
    cursor: pointer;
    color: rgb(88, 0, 129);
    transition: 0.3s;
}
.video-preview nav i:hover {
    color: rgb(174, 0, 255);
}

.video-description {
    width: 400px;
    margin: 30px;
}