* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(59, 59, 59);
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px 0 80px;
    position: fixed;
    background: rgb(59, 59, 59);
    z-index: 99;
}

.container {
}

.container h1 {
    padding: 60px;
    color: rgba(225, 0, 255, 0.733);
    font-size: 44px;
    text-align: center;
}

.row {
    margin: 100px 0px 0px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col {
    flex-basis: 50%;
    min-width: 125px;
}

.feature-img {
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.small-img-row {
    display: flex;
    background: rgba(255, 255, 255, 0.733);
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
}

.small-img {
    position: relative;
}

.small-img img {
    width: 150px;
}

.small-img-row p {
    margin: 20px;
    color: rgb(59, 59, 59);
    line-height: 22px;
    font-size: 15px;
}

.play-btn {
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.small-img .play-btn {
    width: 35px;
}

.video-player {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

video:focus {
    outline: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    padding: 0 10px 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.733);
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: rgba(225, 0, 255, 0.733);
}

nav ul li a.active {
    color: rgba(225, 0, 255, 0.733);
}

footer {
    width: 100%;
    padding: 20px 80px 20px 80px;
    background: rgba(255, 255, 255, 0.733);
    text-align: center;
    color: rgb(59, 59, 59);
}